body, html { 
	
  background: url(bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#cap{
		 font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	font-size: 5rem;
    color: #1E292B;
}

h1
{
	 font-family: 'Playfair Display', serif;
    font-weight: 200;
     letter-spacing: 3px;
    font-size: 4rem;
	color: #1E292B;
}
.buffer{
	height: 10Rem;

}

.btn{
	 font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
	background-color: grey;
	border-color: grey;
	border-radius: 300px;
	/*sets the max widhth*/
	max-width: 200px;
	/*SPACING BETWEEN TEXT AND BUTTON*/
	padding: 15PX;
    text-transform:uppercase
    
}
.btn:hover{
	font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
	background-color: #1E292B;
	border-color: #1E292B;
	transform: scale(1.1);
	border-radius: 300px;
}


